<div class="submit-form">
    
  <div class="form-group">
      <form [formGroup]="articleForm" (ngSubmit)="save()">
     
        <div class="form-group">
          <label>category</label>
         <select
        class="custom-select mb-3"
        (click)="resetCompany(true)"
        (change)="update($event)"
        formControlName="category"
        [ngClass]="{ 'is-invalid': submitted && f['category'].errors }"
      >
      <option value="">choisir category</option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category }}
        </option>
      </select> 
          <div *ngIf="submitted && f['category'].errors" class="invalid-feedback">
            <div *ngIf="f['category'].errors['required']">category  is required</div>
          </div>
        </div>








        <div class="mb-3">
          <label for="desingnation" class="form-label">desingnation</label>
          <input
            type="text"
            class="form-control"
            id="desingnation"
            formControlName="desingnation"
            [ngClass]="{ 'is-invalid': submitted && f['desingnation'].errors }"
          />    
          <div *ngIf="submitted && f['desingnation'].errors" class="invalid-feedback">
            <div *ngIf="f['desingnation'].errors['required']">modele is required</div>
            <div *ngIf="f['desingnation'].errors['minlength']">
              modele must be at least 5 characters
            </div>
            <div *ngIf="f['desingnation'].errors['maxlength']">
              modele must not exceed 45 characters
            </div>
          </div>
        </div>



        <div class="mb-3">
          <label for="desingnation" class="form-label">marques</label>
        <select
        class="custom-select mb-3"
        (change)="update($event)"
        formControlName="marque" 
        [ngClass]="{ 'is-invalid': submitted && f['marque'].errors }"
      >
        <option value="">choisir marques</option>
        <option *ngFor="let marque of marques" [ngValue]="marque">
          {{ marque }}
        </option>
      </select> <div *ngIf="submitted && f['marque'].errors" class="invalid-feedback">
        <div *ngIf="f['marque'].errors['required']">Fullname is required</div>
      </div>  </div>




         <div class="mb-3">
          <label for="modele" class="form-label">modele</label>
          <input
            type="text"
            class="form-control"
            id="modele"
            formControlName="modele"   [ngClass]="{ 'is-invalid': submitted && f['modele'].errors }"
          />
          <div *ngIf="submitted && f['modele'].errors" class="invalid-feedback">
            <div *ngIf="f['modele'].errors['required']">modele is required</div>
            <div *ngIf="f['modele'].errors['minlength']">
              modele must be at least 3 characters
            </div>
            <div *ngIf="f['modele'].errors['maxlength']">
              modele must not exceed 45 characters
            </div>
          </div>
        </div>

  <div class="mb-3" *ngIf="articleForm.get('category')?.value == 'Processeur'">
    <label >Fréquence CPU</label>
    <input type="number"
    class="form-control"
    formControlName="fcpu"
    [ngClass]="{ 'is-invalid': submitted && f['fcpu'].errors }"
    /> <div *ngIf="submitted && f['fcpu'].errors" class="invalid-feedback">
      <div *ngIf="f['fcpu'].errors['required']">fcpu is required</div>
    </div> 
     <label >Nombre de core</label>
    <input type="number"
    class="form-control"
    formControlName="core"
    [ngClass]="{ 'is-invalid': submitted && f['core'].errors }"
    /> <div *ngIf="submitted && f['core'].errors" class="invalid-feedback">
      <div *ngIf="f['core'].errors['required']">core is required</div>
    </div> 
     <label >Nombre de threads</label>
    <input type="number"
    class="form-control"
    formControlName="threads"
    [ngClass]="{ 'is-invalid': submitted && f['threads'].errors }"
    /> 
    <div *ngIf="submitted && f['threads'].errors" class="invalid-feedback">
      <div *ngIf="f['threads'].errors['required']">threads is required</div>
    </div> 
  </div>

  <div  *ngIf="articleForm.get('category')?.value == 'Carte graphique'">
    <label >Fréquence du chipset</label>
    <input type="number"
    class="form-control"
    formControlName="fchipset"
    [ngClass]="{ 'is-invalid': submitted && f['fchipset'].errors }"
    />  
    <div *ngIf="submitted && f['fchipset'].errors" class="invalid-feedback">
      <div *ngIf="f['fchipset'].errors['required']">fchipset is required</div>
    </div> 
  

  <label >Overclockée</label>
  <div  [ngClass]="{ 'is-invalid': submitted && f['overc'].errors }">
           
    <div class="custom-control custom-radio">
      <input id="oui" type="radio" value="oui" name="overc" formControlName="overc"/>
       <label  for="oui">oui</label>
    </div>
    <div class="custom-control custom-radio">
       <input id="non" type="radio" value="non" name="overc" formControlName="overc">
       <label  for="non">non</label>
    </div>
  
 </div>  <div *ngIf="submitted && f['overc'].errors" class="invalid-feedback">
  <div *ngIf="f['overc'].errors['required']">overc is required</div>
</div> 

    <label >Fréquence boostée</label>
    <input type="number"
    class="form-control"
    formControlName="fboost"
    />
  </div>

  <div class="mb-3" *ngIf="articleForm.get('category')?.value == 'Carte mère'">

    <label >Chipset</label>
    <input   type="text"
    class="form-control"
    id="chipset"
    formControlName="chipset" ngDefaultControl
    [ngClass]="{ 'is-invalid': submitted && f['chipset'].errors }"
    />    <div *ngIf="submitted && f['chipset'].errors" class="invalid-feedback">
      <div *ngIf="f['chipset'].errors['required']">chipset is required</div>
    </div> 
    
    <label >Type de mémoire</label>
    <select
    class="custom-select mb-3"
    (change)="update($event)"
    formControlName="tmemoire" ngDefaultControl
    [ngClass]="{ 'is-invalid': submitted && f['tmemoire'].errors }"
  >
  <option value="">choisir Memoire</option>
    <option *ngFor="let tmemoire of tmemoires" [ngValue]="tmemoire">
      {{ tmemoire }}
    </option>
  </select>    <div *ngIf="submitted && f['tmemoire'].errors" class="invalid-feedback">
    <div *ngIf="f['tmemoire'].errors['required']">tmemoire is required</div>
  </div> 

   <label >Capacité maximale de RAM</label>
    <input type="number"
    class="form-control"
    formControlName="maxram" ngDefaultControl
    [ngClass]="{ 'is-invalid': submitted && f['maxram'].errors }"
    />   <div *ngIf="submitted && f['maxram'].errors" class="invalid-feedback">
      <div *ngIf="f['maxram'].errors['required']">maxram is required</div>
    </div> 
  </div>

     <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
